@media screen  and (max-width: 768px){
    /*--------Header Section-----------*/	
    .header_section{
        max-width: 768px;
        margin: auto;
        height: auto;
        .header_logo{
            h2{
                font-size: 36px;
                font-weight: 500;
                span{
                    font-weight: 600;
                }
            }
        }
        .header_menu{
            display: none;
        }
        .header_icons{
            display: none;
        }
        .menu_icon{
            display: block !important;
            padding: 15px;
            font-size: 20px;
        }
    }
    /*--------Banner Section-----------*/
    .banner_section{
        max-width: 768px;
        margin: auto;
        height: auto;
        padding-bottom: 50px;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start !important;
        .banner_content{
            width: 768px !important;
            margin-left: 80px;
            h1{
                font-size: 36px !important;
                font-weight: 500;

            }
            p{
                font-size: 14px!important;
                font-weight: 400;
                max-width: 350px !important;
            }
            .banner_btn{
                max-width: 50%;
                margin-top: 20px !important;
                button{
                    padding: 10px 15px !important;
                    font-size: 14px !important;
                }
            }
        }
        .banner_image{
            width: 100%;
            margin: auto;
            img{
                width: 100%!important;
                height: 100% !important;
            }
        }
    }
    /*--------About Section-----------*/
    .about_section{
        max-width: 768px;
        margin: auto;
        height: auto;
        padding-bottom: 50px;
        .about_firstimage{
            display: none;
        }
        .about_content{
            width: 100%;
            margin: auto;
            .about_text{
                max-width: 500px !important;
                h2{
                    font-size: 36px !important;
                    font-weight: 600 !important;
                }
                p{
                    font-size: 14px !important;
                    font-weight: 500 !important;
                    margin: 15px 0px !important;
                }
                button{
                    padding: 10px 20px !important;
                    font-size: 14px !important;
                    i{
                        font-size: 16px !important;
                        padding: 13px !important;
                        right: -23px !important;
                    }
                }
            }
        }
        .about_secondimage{
            
        }
    }
    /*--------Contact Section-----------*/
    .Contact_container{
        .contact_section{
            .contact_details{
                flex-direction: column !important;
                .contact_form{
                    width: 85% !important;
                    margin: auto !important;
                    margin-bottom: 50px !important;
                }
                .map{
                    width: 85% !important;
                    margin: auto !important;
                }
            }
            .contact_text{
                width: 100% !important;
                margin: auto !important;
                flex-direction: column !important;
                .contact_email{
                    margin: 10px 0px !important;
                    width: 60% !important;
                    .contact_email_details{
                        h3{
                            font-size: 18px !important;
                            font-weight: 600 !important;
                        }
                        p{
                            font-size: 14px !important;
                            font-weight: 500 !important;
                        }
                    }
                }
            }
        }
    }
}