//Responsive Breakpoint Mixins
@mixin respond-to($min-width, $max-width: null) {
  @if $max-width {
    @media screen and (min-width: $min-width) and (max-width: $max-width) {
      @content;
    }
  } @else {
    @media screen and (min-width: $min-width) {
      @content;
    }
  }
}
//Rest All Defaults in Browser 
@mixin browser-reset {
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x: hidden;
  }
}
//Responsive On Mobile
@include respond-to(0px, 768px) {
  @include browser-reset;
  .container {
    max-width: 768px;
    margin: auto;
    /*--------Header Section-----------*/
    .header_section {
      max-width: 100%;
      margin: auto;
      height: auto;
      padding: 0px 30px;
      .header_logo {
        h2 {
          font-size: 36px;
          font-weight: 500;
          span {
            font-weight: 600;
          }
        }
      }
      .header_menu {
        display: none;
      }
      .header_icons {
        display: none !important;
      }
      .menu_icon {
        display: block !important;
        margin-right: 20px !important;
        font-size: 20px !important;
        text-align: right;
      }
    }
    /*--------Banner Section-----------*/
    .banner_section {
      max-width: 768px;
      margin: auto;
      height: auto;
      padding-bottom: 50px;
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: flex-start !important;
      .banner_content {
        width: 768px !important;
        margin-left: 80px;
        h1 {
          font-size: 36px !important;
          font-weight: 500;
        }
        p {
          font-size: 14px !important;
          font-weight: 400;
          max-width: 350px !important;
        }
        .banner_btn {
          max-width: 50%;
          margin-top: 20px !important;
          button {
            padding: 10px 15px !important;
            font-size: 14px !important;
          }
        }
      }
      .banner_image {
        width: 60%;
        margin: auto;
        margin-bottom: 30px;
        img {
          width: 100% ;
          height: 100% ;
        }
      }
    }
    /*--------About Section-----------*/
    .about_section {
      max-width: 768px;
      margin: auto;
      height: auto;
      padding-bottom: 50px;
      .about_firstimage {
        display: none;
      }
      .about_content {
        width: 100%;
        margin: auto;
        .about_text {
          max-width: 500px !important;
          h2 {
            font-size: 36px !important;
            font-weight: 600 !important;
          }
          p {
            font-size: 14px !important;
            font-weight: 500 !important;
            margin: 15px 0px !important;
          }
          button {
            padding: 10px 20px !important;
            font-size: 14px !important;
            i {
              padding: 14px !important;
            }
          }
        }
      }
      .about_secondimage {
      }
    }
    /*--------Menu Section-----------*/
    .tabs_section{
      max-width: 768px;
      .tab_header{
        p{
          font-size: 14px;
        }
        h2{
          font-size: 32px;
        }
      }
      .tab_details{ 
        .tabs-container{
          margin: 10px;
          .tab{
            padding: 5px 10px;
          }
        }
        .tab-content{
          .item-container{
            padding: 15px;
            flex-direction: row;
            .item{
              width: 45%;
              margin: 5px;
              h3{
                font-size: 18px;
              }
              p{
                font-size: 14px;
              }
              .ratings{
                margin: 10px 0px;
                .fa-solid,
                .fa-regular{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      .btn_div{

      }
    }
    /*--------Contact Section-----------*/
    .Contact_container {
      .contact_section {
        .contact_details {
          flex-direction: column ;
          .contact_form {
            width: 75% ;
            margin: auto ;
            margin-bottom: 50px ;
          }
          .map {
            width: 75% ;
            margin: auto ;
          }
        }
        .contact_text {
          width: 100% ;
          margin: auto ;
          flex-direction: column ;
          .contact_email {
            margin: 10px 0px ;
            width: 60%;
            .contact_email_details {
              h3 {
                font-size: 18px;
                font-weight: 600;
              }
              p {
                font-size: 14px;
                font-weight: 500;
              }
            }
          }
        }
      }
    }
    /*--------Footer Section-----------*/
    .footer_section {
      display: grid !important;
      height: auto !important;
      grid-template-columns: 3fr 2fr !important;
      .footer_section1 {
        width: 50% !important;
        margin-bottom: 10px;
        .logo {
          h1 {
            font-size: 28px;
          }
        }
        p {
          font-size: 14px;
          width: 140% !important;
        }
        .icon_div {
          margin-top: 8px !important;
          i {
            font-size: 16px;
            padding: 6px;
          }
        }
      }
      .footer_section2 {
        width: 50% !important;
        .Section2_title {
          font-size: 21px;
        }
        p {
          font-size: 14px;
        }
      }
      .footer_section3 {
        width: 100% !important;
        .Section2_title {
          font-size: 21px;
        }
        input {
          width: 180px !important;
        }
        i {
          left: 164px !important;
          top: 42px !important;
        }
      }
      .footer_section4 {
        width: 100% !important;
        .Section2_title {
          font-size: 21px;
        }
        .app {
          width: 60%;
          margin-top: 10px;
        }
      }
    }
  }
};

//Responsive On Tablet
@include respond-to (769px, 1024px){
  @include browser-reset;
  .container{
    max-width: 1024px;
    margin: auto;
    /*--------Header Section-----------*/
    .header_section{
      max-width: 100%;
      margin: auto;
      height: auto;
      padding: 20px 30px;
      .header_logo{
        h2{
          font-size: 32px;
          font-weight: 500;
        }
      }
      .header_icons{
        button{
          i{
            font-size: 20px;
          }
        }
      }
      .menu_icon{
        display: none !important;
      }
    }
    /*--------Banner Section-----------*/
    .banner_section{
      .banner_content{
        margin-left: 30px;
        padding: 30px 0px;
        h1{
          font-size: 34px ;
        }
        p{
          font-size: 14px ;
        }
        .banner_btn{
          .buttons{
            button{
              padding: 10px 10px ;
              font-size: 14px ;
            }
          }
        }
      }
    }
    /*--------About Us Section-----------*/
    .about_section{
      .about_content{
        .about_text{
          h2{
            font-size: 32px ;
          }
          p{
            font-size: 14px ;
            max-width: 450px;
          }
          button{
            padding: 10px 20px ;
            font-size: 14px ;
            i{
              padding: 14px ;
            }
          }
        }
      }
    }
    /*--------Contact Us Section-----------*/
    .Contact_container{
      .contact_section{
        .contact_details{
          .contact_form{
            width: 42% ;
            margin-left: 5px;
          }
          .map{
            margin-left: 5px;
            width: 42% ;
          }
        }
        .contact_text{
          flex-wrap: wrap;
          .contact_email{
            margin: 15px;
            width: 400px ;
            .logo{
              img{
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
    }
    /*--------Footer Section-----------*/

  }
}

//Responsive On Desktop
@include respond-to (1025px, 1440px){
  @include browser-reset;
  .container{
    max-width: 1420px;
    margin: auto;
    /*--------Header Section-----------*/
    .header_section{
      padding: 20px 30px;
    }
    /*--------Banner Section-----------*/
    .banner_section{
      padding: 20px 30px;
    }
  }
}

//Responsive On Large Desktop
@include respond-to (1441px){
  @include browser-reset;
  /*--------About Section-----------*/
  .about_section{
    .about_content {
      .about_firstimage{
        img{
          width: 100%;
          height: 100%;
        }
      }
      .about_secondimage{
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}


