/*-------- Browser Reset -----------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/*--------Global Color-----------*/
$BackgroundColor: #f5f5f5;
$BackgroundColor-Secondary: #fff;
$ButtonBackgroundColor: #ff8800;
$TextColor: #000000;
/*--------Global Text-----------*/
$TextTitle: 50px;
$TextSubTitle: 18px;
$TextParagraph: 16px;
$TextSmallTitle: 24px;



/*--------Global Button-----------*/
$ButtonPadding: 10px 20px;
$ButtonBorderRadius: 8px;

@mixin buttonStyle{
    padding: $ButtonPadding;
    border: none;
    outline: none;
    border-radius: $ButtonBorderRadius;
    background-color: $ButtonBackgroundColor;
    color: $BackgroundColor;
    font-size: $TextParagraph;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: darken($ButtonBackgroundColor, 10%);
    }
}

@mixin DivStyle($display, $justify, $align){
    display: $display;
    justify-content: $justify;
    align-items: $align;
}

@mixin selectStyle{
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: $ButtonBorderRadius;
    font-size: $TextParagraph;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    &:focus{
        border-color: darken(#ccc, 10%);
    }
}
/*--------Container-----------*/
.container{
    width: 100%;
    background-color: $BackgroundColor;
    padding: 0px;
    margin: 0px;
    /*--------Header Section-----------*/	
    .header_section{
        max-width: 1320px;
        margin: auto;
        @include DivStyle(flex, space-between, center);
        height: 108px;
        .header_logo{
            h2{
                font-size: 36px;
                font-weight: 500;
                span{
                    font-weight: 600;
                }
            }
        }
        .header_menu{
            width: 345px;
            ul{
                @include DivStyle(flex, space-between, center);
                li{
                    margin: 0px 10px;
                    a{
                        font-size: $TextParagraph;
                        font-weight: 500;
                        color: $TextColor;
                        &:hover{
                            color: darken($TextColor, 10%);
                        }
                    }
                }
            }
        }
        .header_icons{
            button{
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                margin: 0px 5px;
                &:hover{
                    color: darken($TextColor, 10%);
                }
                i{
                    font-size: 24px;
                    color: $TextColor;
                }
            }
        }
    }
    /*--------Banner Section-----------*/
    .banner_section{
        max-width: 1320px;
        margin: auto;
        height: 600px;
        @include DivStyle(flex, space-between, center);
        .banner_content{
            width: 45%;
            h1{
                font-size: $TextTitle;
                font-weight: 600;
                line-height: 1.2;
                span{
                    font-weight: 700;
                }
            }
            p{
                font-size: $TextParagraph;
                color: #333333;
                font-weight: 500;
                margin: 20px 0px;
            }
            .banner_btn{
                .buttons{
                    width: 100%;
                    @include DivStyle(flex, space-between, center);
                    button{
                        @include buttonStyle;
                        width: 47%;
                    }
                }
                .select{
                    width: 100%;
                    position: relative;
                    i{
                        position: absolute;
                        right: 15px;
                        top: 30px;
                        transform: translateY(-50%);
                        font-size: 20px;
                        color: #333333;
                    }
                    select {
                        @include selectStyle;
                        appearance: none;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background-color: $BackgroundColor-Secondary;
                        border: none;
                        margin-top: 10px;
                        cursor: inherit;
                      }
                    .select {
                        align-items: center;
                        min-width: 15ch;
                        max-width: 30ch;
                        border: none;
                        border-radius: 0.25em;
                        padding: 0.25em 0.5em;
                        font-size: 1.25rem;
                        cursor: pointer;
                        line-height: 1.1;
                        background-color: $BackgroundColor-Secondary;
                        background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
                        option {
                          font-weight: normal;
                        }
                    } 
                }
            }
        }
        .banner_image{
            width: 45%;
            img{
                width: 95%;
            }
        }
    }
    /*--------About Section-----------*/
    .about_section{
        max-width: 100%;
        margin: auto;
        padding: 100px 0px;
        height:700px;
        background-color: $BackgroundColor-Secondary;
        .about_content{
            display: flex;
            position: relative;
            .about_firstimage{
                border: none;
                width: 35%;
                img{
                    width: 100%;
                }
            }
            .about_secondimage{
                display: flex;
                align-items: flex-end;
                justify-content: flex-start;
                position: absolute;
                bottom: 0;
                right: 0;
                width: 25%;
                img{
                    width: 100%;
                }
            }
            .about_text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 50px;
                max-width: 676px;
                h2{
                    font-size: 50px;
                    line-height: 130%x;
                    font-weight: 600;
                    margin-bottom: 20px;
                }
                .p_subtitle{
                    font-size: $TextSubTitle;
                    font-weight: 600;
                    color: $ButtonBackgroundColor;
                }
                .p_paragraph{
                    font-size: $TextParagraph;
                    font-weight: 500;
                    line-height: 160%;
                    color: #333333;
                    margin: 20px 0px;
                }

                button{
                    @include buttonStyle;
                    width: auto;
                    position: relative;
                    i{
                        position: absolute;
                        top: 0;
                        right: -33px;
                        margin-left: 10px;
                        background-color: #FFAA4D;
                        padding: 15px;
                        border-radius: 8px;
                    }
                }
            }
        }
        .about_image{

        }
    }
}


